.app-searchResults {
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .terms-list {
    padding: 1rem;

    .definition {
      min-height: 24px;
    }
  }

  .result-list {
    margin-top: 2rem;

    .result-item {
      cursor: pointer;
    }
  }
}
