.app-searchResults {
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .terms-list {
    padding: 1rem;

    .definition {
      min-height: 24px;
    }
  }

  .export-buttons {
    .btn {
      margin-right: 5px;
      margin-left: 5px;
    }
    margin-bottom: 20px;
  }

  .result-row {
    @media print {
      justify-content: left;

      > div {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .result-list {
      margin-top: 2rem;

      .result-item {
        cursor: pointer;
      }
    }
  }
}
