.app-advancedSearch {
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .dropdown-close {
    padding: 0;

    >.button {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .form-check {
    margin-bottom: 1rem;
  }
}
