PORT=8082
CLIENT_BASE_URL=https://fce.test

# Postgresql
PG_HOST=db
PG_USER=postgres
PG_PASSWORD=root
PG_DB=fce

# Email
MAIL_TRANSPORT_CONFIG={"from":"no-reply@fce.num.social.gouv.fr","transport":{"host":"mail","port":1025,"secure":false}}

# Api Gouv
API_GOUV_TOKEN=

# Api Sirene
API_SIRENE_BASIC_AUTH=

# Authentification by code
MAGIC_LINK_BCC=chloe.mandelblat@direccte.gouv.fr,pierre.vercauteren@sg-social.gouv.fr
MAGIC_KEY_EXPIRE=3600
MAGIC_KEY_ALLOWED_EMAILS=["@commit42.fr$","@direccte.gouv.fr$","@emploi.gouv.fr$","@dgccrf.finances.gouv.fr$","@sg.social.gouv.fr$","@travail.gouv.fr$","^frederic.boen@finances.gouv.fr$","^marie-laurence.abolhamd@finances.gouv.frr$","^julien.garcin@finances.gouv.fr$"]

# User feedback
MAIL_TO=chloe.mandelblat@direccte.gouv.fr

# JWT
JWT_SECRET=changeme!
JWT_EXPIRE=30d
JWT_TEMP_EXPIRE=12000ms
CREDENTIAL_API_KEY=changeme!

# APPSEARCH
JWT_APPSEARCH_ADDRRESS=https://appsearch.fce.fabrique.social.gouv.fr/api/as/v1/
JWT_APPSEARCH_API_KEY=
JWT_APPSEARCH_ENGINE_NAME=fce
JWT_ELASTIC_CLIENT_ADDRESS=http://elasticsearch:9200/

# Minio
MINIO_ENDPOINT=fce.minio.fabrique.social.gouv.fr
MINIO_PORT=443
MINIO_USE_SSL=1
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ARCHIVE_FILES=0

# Matomo
EMAIL_SALT=
MATOMO_TOKEN_AUTH=
MATOMO_ID_SITE=
MATOMO_URL=

# Cache

CACHE_TYPE=memory

# Strapi

STRAPI_URL=http://127.0.0.1:1337
STRAPI_USERNAME=admin
STRAPI_PASSWORD=admin

# Elastic

ELASTIC_URL=http://127.0.0.1:9200
ELASTIC_API_KEY=xxx
ELASTIC_INDEX=fce-search

# BCE

BCE_URL=https://bce.com
BCE_TOKEN=42