.app-searchResults {
    @media print {
        zoom: 40%;
    }

    .title,
    .subtitle {
        text-align: center;
        margin-bottom: 2rem;
    }

    .subtitle {
        text-transform: uppercase;
        color: $primary;
    }

    .terms-list.box {
        padding: 2rem;
        box-shadow: none;
    }

    .export-buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
            margin: 2rem;
        }
    }

    .result-row {
        @media print {
            justify-content: left;

            >div {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .result-list {
            margin-top: 2rem;

            .result-item {
                cursor: pointer;
            }
        }
    }
}
