@media print {
  @page {
    size: landscape;
  }
}

.app-searchResults {
  @media print {
    zoom: 40%;
  }

  .title,
  .subtitle {
    text-align: center;
    margin-bottom: 2rem;
  }

  .subtitle {
    text-transform: uppercase;
    color: $primary;
  }

  .terms-list.box {
    padding: 2rem;
    box-shadow: none;
  }

  .export-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      margin: 2rem;
    }
  }

  .result-row {
    @media print {
      justify-content: left;

      > div {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .result-list {
      margin-top: 2rem;

      .result-item {
        cursor: pointer;
      }
    }
  }

  .table {
    border-radius: 0.325rem;
    overflow: hidden;

    .rt-tr {
      cursor: pointer;

      &:nth-child(even) {
        background-color: $light;
      }

      &:hover {
        background-color: $secondary;
        color: $light;
      }
    }

    .rt-th,
    .rt-td {
      padding: 0.75rem;
      border-top: 1px solid #dee2e6;
    }

    .rt-th {
      font-weight: bold;
      background-color: $light;
      color: $primary;
    }

    .rt-thead {
      .rt-th {
        border-bottom: 2px solid #dee2e6;
      }
    }

    @media print {
      .rt-table {
        overflow: hidden;
      }
    }
  }
}
