@import "../App/variables";

.app-searchResults {
    @media print {
        zoom: 40%;
    }

    .title,
    .subtitle {
        text-align: center;
        margin-bottom: 2rem;
    }

    .title {
        color: $black;
        font-size: 2.35rem;
        font-weight: 700;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .subtitle {
        color: $primary;
        text-transform: uppercase;
    }

    .export-button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .result-row {
        overflow: auto;

        @media print {
            justify-content: left;

            > div {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }

        .result-list {
            margin-top: 2rem;

            .result-item {
                cursor: pointer;
            }
        }
    }

    .notification.is-light {
        background-color: #d4ecff;
        color: #1d72aa;
    }
}
