@import "../../../../App/variables";
.chart-selec-data-source {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 18px;
    row-gap: 16px;
}
