@import "../../../../App/variables";
.chart {
    flex-grow: 1;
  
    .body{
      flex-direction: row;
    }
  }
  
  .analysisChart {
    display: flex;
    flex-grow: 1;
    position: relative;
  
    .body {
      display: flex;
      flex-grow: 1;
      box-sizing: border-box;
      min-height: 300px;
      position: relative;
      background-color: white;
  
      .kpiCardMain {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;
  
        > div {
          padding: 0;
        }
  
        .kpiCardTitle {
          display: flex;
          flex-direction: row;
          align-items: center;
  
          h2 {
            flex-grow: 1;
            padding: 0;
            margin: 8px 0 0 0;
            line-height: 1.2;
            font-size: 1.4em;
            text-transform: uppercase;
            font-weight: 700;
            color: gray;
          }
  
          :global(.iconBtn) {
            width: 20px;
            height: 20px;
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border: solid 1px gray;
            border-radius: 3px;
  
            svg {
              fill: gray;
            }
  
            &:hover {
              border-color: lighten(gray, 8%);
  
              svg {
                fill: lighten(gray, 30%);
              }
            }
          }
        }
  
        .kpiCardBody {
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          min-height: 4em;
          align-items: center;
          position: relative;
  
          &.kpiCardBodyStretch {
            flex-grow: 1;
            align-items: stretch;
          }
  
          :global(.kpiIndicatorValue) {
            :global(.valueNA) {
              font-size: 1.8em;
              font-weight: 100;
            }
          }
        }
      }
    }
  }
.chartCardMain{
    display: flex;
}

.iconBtn {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   &:hover{ 
        color :$primary
   }
}
.card{
    box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: 0.2);
}