@import "../../App/variables";

.info-box {
    margin: 0 0 $spacing-4 -0.2rem; // -0.2rem = optical trick to align round shape

    &__pill {
        padding: $spacing-2 $spacing-3;
        font-family: $roboto;
        font-weight: bold;
        background-color: #f5f5f7;
        border-radius: 1rem;

        &--warning {
            background-color: rgba(255, 0, 0, 0.15);
            color: rgba(255, 0, 0, 0.8);
        }
    }

    &__print {
        display: none;
    }
}
