@import "../../App/variables";
@import "../../App/placeholders";

.aside-box {
    @extend %print-hidden;

    >.aside-contain {
        position: relative;
        display: block;
        padding: $spacing-4 0;
        overflow: auto;
        border-radius: $b-radius-2;
        background-color: $white;
        box-shadow: $b-shadow-spread;
    }
}

.enterprise .sidebar__enterprise {
    border-left: 4px solid $secondary;
    margin-bottom: $spacing-5;
}

.sidebar {
    &__enterprise {
        padding: $spacing-4;
        margin-bottom: $spacing-2;

        &-title {
            font-family: $segoe;
            font-size: 1.125rem;
            font-weight: bold;
            text-transform: capitalize;
        }

        &-naf {
            font-family: $segoe;
        }

        &-button {
            width: 100%;
            border-width: 2px;
            margin-top: $spacing-5;
        }
    }

    &__establishments {
        padding: 0 $spacing-4;

        &-type {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 44px;
            padding-left: $spacing-4;
            font-weight: bold;
            border-radius: $b-radius-2 $b-radius-2 0 0;
            border: $border-grey-light;
            border-bottom: 2px solid $primary;
            background-image: linear-gradient(to bottom, #ffffff, #e4e7eb);
        }

        &-count {
            margin-bottom: $spacing-3;
        }
    }

    &__establishment {
        padding: $spacing-1 $spacing-4;
        border: $border-grey-light;
        background-color: $sidebar-establishment-bg;

        &:last-child {
            margin-bottom: $spacing-5;
        }

        &--current {
            border: none;
            border-left: 4px solid $secondary;
            background-color: $white;

            &.head-office {
                border-bottom: $border-grey-light;
            }
        }
    }

    &__view-all-button {
        @extend .sidebar__enterprise-button;
        margin-top: 0;
        margin-bottom: $spacing-5;
    }
}
