.app-search {
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .search-form {
    margin-bottom: 1rem;

    .field {
      width: 100%;
    }
    .action {
      width: 100%;
    }
  }
}
