@import "./../../../../App/variables";
@import "./../../../../App/placeholders";

.dashboard .column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .dashboard-item {
        margin-right: $spacing-5;
        border: solid 1px $primary;
        border-radius: $border-radius-2;
        padding: $spacing-3;
        width: 8rem;
        height: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__header {
            padding: $spacing-2;
            border-bottom: solid 2px $primary;
            display: flex;
            justify-content: center;

            &-icon {
                color: $primary;
                width: 1rem;
                margin-right: $spacing-2;
            }

            &-label {
                font-weight: bold;
            }
        }

        &__data {
            @extend %flex-center;
            text-align: center;
            flex: 1;

            &--small-text {
                font-size: 0.9rem;
            }
        }
    }
}
