@import './../../../../App/variables';

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &-item {
        margin-right: 2rem;
        border: solid 1px $primary;
        border-radius: 0.35rem;
        padding: .75rem;
        width: 10rem;
        height: 11rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--header {
            padding: .25rem;
            border-bottom: solid 2px $secondary;
            display: flex;

            &-icon {
                color: $primary;
                width: 1rem;
                margin-right: .5rem;
            }
        }

        &-data {
            text-align: center;
            flex: 1;
        }
    }
}
