version: '2'
services:
  front:
    build: .c42/docker/front
    image: node_front
    network_mode: "bridge"
    ports:
      - 3000
    volumes:
      - ./client/:/project
      - .npm:/.npm
      - $SSH_AUTH_SOCK:/ssh-agent
    environment:
      VIRTUAL_HOST: direccte.test
      VIRTUAL_PORT: 3000

  server:
    build: .c42/docker/server
    image: node_server
    network_mode: "bridge"
    ports:
      - 80
    volumes:
      - ./server/:/project
      - .npm:/.npm
      - $SSH_AUTH_SOCK:/ssh-agent
    environment:
      VIRTUAL_HOST: srv.direccte.test
      WATCH: 1
    links:
      - mongo

  docker-in-docker:
    image: docker:dind
    privileged: true
    expose:
      - 2375
      - 2376

  builder:
    build: .c42/docker/builder
    links:
      - docker-in-docker
    environment:
      DOCKER_HOST: tcp://docker-in-docker:2375
    volumes:
      - ./:/project
      - .npm:/.npm
      - $SSH_AUTH_SOCK:/ssh-agent

  mongo:
    image: mongo:3.6
    network_mode: "bridge"
    ports:
      - 27017

  frentreprise:
    build: .c42/docker/server
    image: node_server
    network_mode: "bridge"
    volumes:
      - ./server/lib/frentreprise:/project
      - .npm:/.npm
      - $SSH_AUTH_SOCK:/ssh-agent

volumes:
  db-data:
    driver: local
