@import "./../../../../App/variables";
@import "./../../../../App/placeholders";

.enterprise-header {
    scroll-margin: 7rem;
    @extend %data-sheet-header;
    @extend %print-margin-padding;

    &__status {
        display: flex;
    }

    .top-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
