@import "../../../../App/variables";
@import "../../../../App/placeholders";

.data-sheet {
    .table-overflow-container {
        overflow-x: auto;
    }

    .table {
        width: 100%;
        margin-top: $spacing-4;
        padding: $spacing-5 0;

        tfoot tr > td :not(:last-child) {
            border-right: $border-grey-light;
        }
        th:not(:last-child) {
            border-right: none !important;
        }

        td {
            padding: $spacing-1 !important;
        }
    }
}
