@import "../../../../App/variables";
@import "../../../../App/placeholders";

.data-sheet {
    .table-overflow-container {
        overflow-x: auto;
    }

    .table {
        width: 100%;
        margin-top: $spacing-4;
        padding: $spacing-5 0;

        th,
        tfoot tr > td {
            border-right: $border-grey-light;
        }

        td {
            padding: $spacing-2 $spacing-3;
        }
    }
}
