@import "../App/variables";
@import "../App/placeholders";
@import "~bulma/sass/elements/button.sass";

.login {
    padding: $spacing-6 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $segoe;

        @include from(425px) {
            text-align: center;
        }

        &--form {
            max-width: 38rem;
            text-align: left;
        }
    }

    &__title {
        color: $primary;
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 1.2;
        max-width: 34rem;
        margin-bottom: $spacing-4;

        @include from($tablet) {
            font-size: 2rem;
            margin-bottom: $spacing-5;
        }
    }

    &__head-form {
        p {
            margin-bottom: $spacing-1;
        }
    }

    &__subtitle {
        font-family: $evolventa;
        font-size: $font-size-base;
        line-height: 1.3;
        max-width: 38rem;
        margin-bottom: $spacing-4;

        @include from($tablet) {
            font-size: 1.25rem;
            margin-bottom: $spacing-5;
        }
    }

    &__info {
        margin-bottom: $spacing-4;
        line-height: 1.2;
    }

    &__button {
        width: 200px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $roboto;
        border-radius: $border-radius-1;

        &--as-link.button {
            width: unset;
            height: unset;

            > span {
                font-weight: normal;
            }

            &,
            &:hover,
            &:focus {
                background-color: transparent;
                border: none;

                &:not(:active) {
                    box-shadow: none;
                }
            }

            &:hover,
            &:focus {
                color: #20638f !important;
                text-decoration: underline;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__link {
        @extend .button;
        font-family: $roboto;

        &,
        &:hover,
        &:focus {
            background-color: transparent;
            border: none;
        }

        &:hover,
        &:focus {
            outline: none;
            text-decoration: underline;

            &:not(:active) {
                box-shadow: none;
            }
        }
    }

    &__notif {
        display: flex;
        align-items: baseline;
        padding: $spacing-2;
        font-family: $roboto;
        font-size: 14px;
        border-radius: $border-radius-1;

        &--success {
            @extend %success;
        }

        &--error {
            @extend %error;
        }

        > .svg-inline--fa {
            position: relative;
            top: 1px;
            width: 16px;
            margin-right: $spacing-2;
        }
    }

    .label {
        font-family: $roboto;
        font-weight: bold;
    }
}
