@import "../App/_variables.scss";

.login {
    &__title {
        color: $primary;
    }

    &__button {
        width: 200px;
        height: 46px;
        font-size: 18px;
        border-radius: 4px;
    }

    &__notif {
        &--success {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            padding: 0.5rem;
            font-size: 14px;
            color: $success;
            border: 1px solid $success;
            border-radius: $b-radius;
            background-color: $success-background;

            > .svg-inline--fa {
                margin-right: 0.5rem;
            }
        }
    }
}
