.navbar {
  background-color: $light;

  &-brand {
    align-items: center;
    color: $dark;

    & > img {
      width: 80px;
      height: 47px;
      margin-right: 1rem;
    }
  }

  a.navbar-item {
    color: $dark;

    &:hover {
      background-color: $primary !important;
      color: $light;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
