{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "6.10"
                }
            }
        ]
    ],
    "plugins": [
        "syntax-async-functions",
        [
            "babel-plugin-root-import",
            {
                "rootPathSuffix": "src"
            }
        ],
        "transform-object-rest-spread",
        [
            "babel-plugin-transform-builtin-extend",
            {
                "globals": ["Error", "Array"]
            }
        ]
    ]
}
