@import "../App/variables";
@import "../App/mixins";

.magiclink {
    &__container {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        text-align: center;
    }

    &__message {
        padding: 0.5rem;
        font-family: $roboto;
        font-size: 14px;
        border-radius: $b-radius;
        @include error;
    }
}
