@import "../App/variables";
@import "../App/placeholders";

.magiclink {
    &__container {
        display: flex;
        justify-content: center;
        padding-top: $spacing-5;
        text-align: center;
    }

    &__message {
        @extend %error;
        padding: $spacing-2;
        font-family: $roboto;
        font-size: 14px;
        border-radius: $b-radius;
    }
}
