.app-magicLink {
    position: absolute;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.magicLink-container {
    padding: 2rem;
    text-align: center;
}
