@import "./../../../../App/variables";
@import "./../../../../App/placeholders";

.psi {
    &__data {
        .dd {
            display: flex;
            justify-content: center;
        }
    }

    &__description {
        font-style: italic;
        font-size: $font-size-small;

        ul {
            list-style: inside;
        }
    }
}

.psi-siren-table.table {
    margin-top: 0;
}

.psi-siret-table {
    &__label {
        font-weight: 700;
    }

    &__button-wrapper {
        @extend %flex-center;

        .button {
            width: 20rem;
        }
    }

    & + & {
        margin-top: $spacing-4;
    }
}
