@import '../../../../App/variables';

.quick-access {
    background-color: $white;
    border-radius: 0.325rem;
    position: relative;
    display: flex;
    flex-direction: row;
}

@include touch {

    .quick-access {
        padding: 2rem 1rem;
        margin: 0;
    }
}
