@font-face {
    font-family: "Segoe Pro";
    src: url("../../assets/fonts/SegoePro.eot");
    src: url("../../assets/fonts/SegoePro.eot?#iefix")
            format("embedded-opentype"),
        url("../../assets/fonts/SegoePro.woff2") format("woff2"),
        url("../../assets/fonts/SegoePro.woff") format("woff"),
        url("../../assets/fonts/SegoePro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Segoe Pro";
    src: url("../../assets/fonts/SegoeUI-Bold.eot");
    src: url("../../assets/fonts/SegoeUI-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../../assets/fonts/SegoeUI-Bold.woff2") format("woff2"),
        url("../../assets/fonts/SegoeUI-Bold.woff") format("woff"),
        url("../../assets/fonts/SegoeUI-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto-Regular.eot");
    src: url("../../assets/fonts/Roboto-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../../assets/fonts/Roboto-Regular.woff2") format("woff2"),
        url("../../assets/fonts/Roboto-Regular.woff") format("woff"),
        url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto-Bold.eot");
    src: url("../../assets/fonts/Roboto-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../../assets/fonts/Roboto-Bold.woff2") format("woff2"),
        url("../../assets/fonts/Roboto-Bold.woff") format("woff"),
        url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Evolventa";
    src: url("../../assets/fonts/Evolventa-Regular.eot");
    src: url("../../assets/fonts/Evolventa-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../../assets/fonts/Evolventa-Regular.woff2") format("woff2"),
        url("../../assets/fonts/Evolventa-Regular.woff") format("woff"),
        url("../../assets/fonts/Evolventa-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Evolventa";
    src: url("../../assets/fonts/Evolventa-Bold.eot");
    src: url("../../assets/fonts/Evolventa-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../../assets/fonts/Evolventa-Bold.woff2") format("woff2"),
        url("../../assets/fonts/Evolventa-Bold.woff") format("woff"),
        url("../../assets/fonts/Evolventa-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
