@import "./variables";

/*** Alignment ***/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-center {
    margin: 0 auto;
    width: 100%;
}

.v-center {
    margin: auto 0;
}

.text-centered {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20 {
    width: 20%;
}

.w-15 {
    width: 15%;
}

.w-10 {
    width: 10%;
}

/*** Helpers utils ***/
.is-overflow-x {
    overflow-x: scroll;
}

.is-max-content {
    width: max-content;
}

@media print {
    .no-print {
        display: none !important;
    }
}

/*** Text ***/
.is-first-letter-uppercase {
    &::first-letter {
        text-transform: uppercase;
    }
}

.is-text-button {
    color: $blue;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    padding-left: 0;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: $dark-blue;
    }
}

/*** Bulma override ***/
.is-secondary {
    @extend .is-info;
}

.is-grey {
    @extend .is-white;
    color: #808080 !important;
    border-color: #808080 !important;
}
