@import "./variables";
@import "./placeholders";

/*** Tables ***/
@for $width from 1 through 10 {
    .col-width-#{$width}0 {
        width: $width * 10%;
    }
}

/*** Buttons ***/
.button-icon {
    margin-right: $spacing-1;
    font-size: $font-size-base;
}

.is-secondary {
    @extend .is-info;
}

button.is-tertiary {
    color: $white;
    background-color: $carolina-blue;

    &:hover {
        color: $white;
        background-color: darken($carolina-blue, 5%);
    }
}
