@import "./variables";

/*** Tables ***/
@for $width from 1 through 10 {
    .col-width-#{$width}0 {
        width: $width * 10%;
    }
}

.is-overflow-x {
    overflow-x: scroll;
}

/*** Buttons ***/
.button-icon {
    margin-right: $spacing-1;
    font-size: $font-size-base;
}

.is-secondary {
    @extend .is-info;
}
