.page {
    @extend .container;
    padding: 2rem 0;

    &__block {
        margin: 1rem 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @extend .title;
        margin-top: 1.5rem !important;
    }

    h1 {
        @extend .is-1;
        margin-top: 0;
    }
    h2 {
        @extend .is-2;
    }
    h3 {
        @extend .is-3;
    }
    h4 {
        @extend .is-4;
    }
    h5 {
        @extend .is-5;
    }
    h6 {
        @extend .is-6;
    }
}
