%print-hidden {
    @media print {
        display: none !important;
    }
}

%print-block {
    @media print {
        display: block !important;
        width: 100%;
    }
}

%print-margin-padding {
    @media print {
        padding: 0.2cm !important;
        margin: 0 !important;
    }
}

%data-sheet-header {
    padding: $spacing-5;
    background-color: $white;
    border-radius: 0.325rem;
    @media not print {
        box-shadow: $fce-shadow;
    }
}

%success {
    color: $info-success;
    border: 1px solid $info-success;
    background-color: $info-success-bg;
}

%error {
    color: $info-error;
    border: 1px solid $info-error;
    background-color: $info-error-bg;
}
