%print-hidden {
    @media print {
        display: none !important;
    }
}

%print-block {
    @media print {
        display: block !important;
        width: 100%;
    }
}

%print-margin-padding {
    @media print {
        padding: 0.2cm !important;
        margin: 0 !important;
    }
}

%data-sheet-header {
    padding: 2rem;
    background-color: $white;
    border-radius: 0.325rem;
    box-shadow: $fce-shadow;
}
