@import "../App/variables";

@media print {
    %reset-spacing {
        margin: 0 !important;
        padding: 0 !important;
    }

    %reset-block {
        width: 100%;
        display: block !important;
        @extend %reset-spacing;
    }

    %margin-bottom-small {
        margin-bottom: 5pt !important;
    }

    %margin-bottom-medium {
        margin-bottom: 10pt !important;
    }

    %margin-bottom-big {
        margin-bottom: 20pt !important;
    }

    * {
        font-family: Arial, sans-serif !important;
        color: #000 !important;
        box-shadow: none !important;
        background-color: transparent !important;
    }

    html {
        font-size: 10pt !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div {
        @extend %reset-block;
    }

    h1 {
        font-size: 2rem !important;
    }

    .app-header {
        height: 40px;
    }

    .header {
        &__logo {
            //max-width: 20px !important;
        }
    }

    .dashboard .column {
        .dashboard-item {
            @extend %reset-block;
            height: auto !important;
            border: none !important;
        }
    }

    .info-box {
        margin-bottom: $spacing-4 !important;
        &__pill {
            padding: 0.2rem !important;
            color: #000 !important;
            font-size: 1rem !important;
            text-transform: uppercase;
            border: 1px solid #000;
            border-radius: 0 !important;
        }
    }

    .subcategory {
        @extend %margin-bottom-big;

        .source {
            span {
                font-style: italic !important;
                color: rgb(100, 100, 100) !important;
            }
        }
    }

    .data-sheet {
        &-header__status > div {
            float: left;
            margin: $spacing-2 0;
            width: auto;
        }

        &__print-section {
            display: none !important;
        }

        &__section {
            & .section-header {
                &:before {
                    display: none !important;
                }

                .icon {
                    display: block !important;
                    float: left !important;
                    padding: 0 $spacing-2;
                }
            }

            & .section-datas {
                dl,
                dd,
                dt {
                    @extend %reset-block;
                }

                dl {
                    padding: 5pt 0 !important;
                }

                .data__value {
                    @extend %margin-bottom-small;
                }
            }
        }
    }
}
