body {
    font-family: Roboto
}

h1,
h2 {
    font-family: Evolventa;
    font-weight: bold;
    letter-spacing: normal;
}

h3,
h4,
h5,
h6 {
    font-family: Roboto;
    letter-spacing: normal;
    font-weight: bold;
}

.has-text-segoe {
    font-family: Segoe UI;
}
