body {
    font-family: Roboto, sans-serif;
}

h1,
h2 {
    font-family: Evolventa, sans-serif;
    font-weight: bold;
    letter-spacing: normal;
}

h3,
h4,
h5,
h6 {
    font-family: Roboto, sans-serif;
    letter-spacing: normal;
    font-weight: bold;
}

button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.has-text-segoe {
    font-family: Segoe Pro, sans-serif;
}
