/* COLORS */
$dark-blue: #34495e;
$blue: #2980b9;
$turquoise: #2aa995;
$faced-blue: #5499c6;
$light-sky-blue: #d4e6f1;
$red-bright: #e74c3c;
$red-washed: rgba(189, 10, 10, 0.14);
$green-washed: rgba(34, 137, 31, 0.2);
$green-forest: #22891f;
$white-alabaster: #fafafa;
$white-smoke: #f5f5f5;
$grey-geyser: #dde1e5;
$grey-tundora: #4a4a4a;
$dark-grey: #363636;

$primary: $blue;
$info: $turquoise;
$danger: $red-bright;
$secondary: $turquoise;
$info-success: $green-forest;
$info-success-bg: $green-washed;
$info-error: $red-bright;
$info-error-bg: $red-washed;
$app-container-background: $white-smoke;
$footer-bg: $grey-geyser;
$footer-link: $grey-tundora;
$border-grey-light: $grey-geyser;
$sidebar-establishment-bg: $white-alabaster;
$rating-gradient: #e21717, #e75907, #e38906, #eeb12c, #f0d828, #b3dc04, #71d903,
    #30d502, #02d112, #01ce4e, #00ca88;

/* BORDER-RADIUS */
$b-radius: 0.25rem;

/* SHADOWS */
$fce-shadow: 0 0 6px rgba(100, 100, 100, 0.06),
    0 0 15px rgba(100, 100, 100, 0.15);

/* FONT-SIZE */
$font-size-section-title: 1.25rem;
$font-size-section-subtitle: 1.15rem;
$font-size-small: 0.8rem;

/* TYPOGRAPHY */
$segoe: "Segoe Pro", sans-serif;
$evolventa: "Evolventa", sans-serif;
$roboto: "Roboto", sans-serif;

/* SPACES */
$space: 1rem;
$space-xxs: $space * 0.12;
$space-xs: $space * 0.25;
$space-sm: $space * 0.5;
$space-lg: $space * 1.5;
$space-xl: $space * 3;

@import "~bulma/sass/utilities/all";
