@import "fonts";
@import "variables";
@import "mixins";
@import "globals";
@import "animations";
@import "typography";
@import "~bulma/bulma";
@import "~bulma-extensions/bulma-quickview/dist/css/bulma-quickview";
@import "~bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio";
@import "Header/header";
@import "Footer/footer";
@import "../Search/search";
@import "../SearchResults/searchResults";
@import "../DataSheets/dataSheets";

html {
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    position: relative;
    margin: 0;
    background-color: $app-container-background;
}

a {
    color: $primary;

    &:hover {
        text-decoration: none;
    }
}

.app-container {
    // full-height if not enough content
    // 320px = header 120px + foooter 200px
    min-height: calc(100vh - 270px);

    @include from($tablet) {
        // full-height if not enough content
        // 270px = header 120px + foooter 150px
        min-height: calc(100vh - 320px);
    }

    @media print {
        padding-top: 1rem;
    }

    .bg-info a {
        color: white;
        text-decoration: underline;
    }
}

.container {
    width: 100%;
}

.button {
    height: initial;
}

.title {
    margin: 0 0 1rem;
}

.button__icon {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.icon {
    &--success {
        color: $success;
    }

    &--danger {
        color: $danger;
    }
}

.beta-message {
    text-align: center;
    font-size: 0.8rem;
    height: 40px;
    opacity: 0.85;
    background-color: #a5e1fa;
    z-index: 1;

    @include from(425px) {
        font-size: 1rem;
    }
}

@media print {
    .d-print-none {
        display: none;
    }
}
