@import "fonts";
@import "variables";
@import "mixins";
@import "globals";
@import "animations";
@import "typography";
@import "~bulma/bulma";
@import "~bulma-extensions/bulma-quickview/dist/css/bulma-quickview";
@import "~bulma-extensions/bulma-checkradio/dist/css/bulma-checkradio";
@import "Header/header";
@import "Footer/footer";
@import "../Search/search";
@import "../SearchResults/searchResults";
@import "../Enterprise/enterprise";
@import "../Enterprise/Establishments/establishments";
@import "../shared/InfoBox/infoBox";

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: $white;
    position: relative;
    margin: 0;
}

a {
    color: $primary;
}

.app-container {
    // full-height if not enough content
    // 320px = header 120px + foooter 200px
    min-height: calc(100vh - 270px);
    background-color: $app-container-background;
    padding-bottom: 2rem;
    @include from($tablet) {
        // full-height if not enough content
        // 270px = header 120px + foooter 150px
        min-height: calc(100vh - 320px);
    }
    @media print {
        padding-top: 1rem;
    }

    .bg-info a {
        color: white;
        text-decoration: underline;
    }
}

.button {
    height: initial;
}

.title {
    margin: 0 0 1rem;
}

.icon {
    font-size: 1rem;

    &--success {
        color: $success;
    }

    &--danger {
        color: $danger;
    }
}

.beta-message {
    text-align: center;
    font-size: 0.8rem;
    height: 40px;
    opacity: 0.85;
    background-color: #a5e1fa;
    z-index: 1;
    @include from(425px) {
        font-size: 1rem;
    }
}

@media print {
    .d-print-none {
        display: none;
    }
}
