@import "../../../../../App/variables";

.enterprise-finances {
    &__not-available {
        margin-top: $spacing-2;
    }
}
.chart-wrapper{
  flex-grow: 1;
  margin-top:$spacing-5 ;
  display: flex;
  align-items:center ;
  justify-content: center;

}
