.app-footer {
  position: relative;
  font-size: 0.7em;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.img-labo {
  width: 10rem;
}
