@import "../../App/variables";
@import "../placeholders";

.app {
    .footer {
        display: flex;
        align-items: center;
        padding: 0;
        background-color: $footer-bg;

        @include from($tablet) {
            height: 200px;
        }

        .container {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            padding: $spacing-4 $padding-app-x;

            @include from($tablet) {
                flex-direction: row;
            }
        }

        &__gouv {
            display: flex;
            flex-direction: column;

            @include from($tablet) {
                align-items: flex-start;
            }
        }

        &__gouv-text {
            font-family: $segoe;
            font-size: $font-size-small;
            max-width: 13rem;
            font-style: italic;
            text-align: center;
            padding-bottom: $spacing-2;

            @include from($tablet) {
                font-size: $font-size-base;
                max-width: 16rem;
                text-align: left;
            }
        }

        &__gouv-logo {
            width: 80px;
            background: #fff;

            @include from($tablet) {
                width: 150px;
                padding: $spacing-1;
            }
        }

        &__links {
            margin-bottom: $spacing-2;
            font-size: $font-size-base;
            font-family: $segoe;
            text-align: center;

            @include from($tablet) {
                display: flex;
                margin-top: 0;
                margin-bottom: $spacing-4;
            }
        }

        &__link-item {
            @include from($tablet) {
                padding: 0 $spacing-2;
                border-right: solid 1px;

                &:last-child {
                    border-right: none;
                }
            }
        }

        &__link {
            color: $footer-link;

            &:hover {
                color: $dark-grey;
            }
        }
    }
}
