@import "../../App/variables";
@import "../placeholders";

.app {
    .footer {
        padding: 0;
        background-color: $footer-bg;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: $spacing-4 $padding-app-x;

            @include from($tablet) {
                flex-direction: row;
            }
        }

        &__gouv {
            display: flex;
            flex-direction: column;

            @include from($tablet) {
                align-items: flex-start;
            }
        }

        &__gouv-text {
            margin-top: $spacing-4;
            padding-bottom: $spacing-2;
            font-family: $segoe;
            font-style: italic;
            text-align: left;

            @include from($tablet) {
                max-width: 16rem;
                margin-top: 0;
                text-align: right;
            }
        }

        &__gouv-logo {
            width: 80px;
            background: #fff;

            @include from($tablet) {
                width: 100px;
                margin-left: auto;
                padding: $spacing-1;
            }
        }

        &__links {
            a {
                color: $footer-link;
                transition: color 0.3s;

                &:hover {
                    color: $primary;
                }
            }

            &-row {
                display: flex;
            }

            &-row:not(:last-of-type) {
                margin-bottom: $spacing-2;
            }

            &-item:not(:last-of-type)::after {
                content: "\2022";
                margin: 0 $spacing-4;
            }

            &-row:last-of-type {
                display: block;

                .footer__links-item:first-of-type {
                    margin-bottom: $spacing-2;

                    &::after {
                        content: none;
                    }
                }
            }

            @media (min-width: 1024px) {
                &-row:last-of-type {
                    display: flex;

                    .footer__links-item:first-of-type {
                        margin-bottom: 0;

                        &::after {
                            content: "\2022";
                        }
                    }
                }
            }
        }
    }
}
