@import "./../../App/variables";

.link-button {
    color: $white-smoke;
    padding: .5rem 1rem;
    border-radius: 0.325rem;

    &:hover {
        color: white;
    }
}

.link-color {
    background-color: $faced-blue;

    &:hover {
        background-color: darken($faced-blue, 7%);
    }
}

.info-color {
    background-color: $info;

    &:hover {
        background-color: darken($info, 7%);
    }
}
