@import "../../../../App/variables";
@import "../../../../App/placeholders";

.data-sheet--table {
    .box-shadow {
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 18, 0.16) !important;
        border-radius: 0.5rem !important;
        padding: $spacing-4 $spacing-4 0 $spacing-4;
    }
    .non-bordered-table-overflow-container {
        overflow-x: auto !important;
        border-color: transparent !important;
        margin-bottom: $spacing-5;
    }
    .table td,
    .table th {
        border: none !important;
        // padding: $spacing-4;
    }

    .table {
        width: 100%;
        margin-top: 0;
        border-color: transparent !important;
        background-color: white !important;

        th {
            background: white;
            position: sticky;
            top: 0;
            font-family: $marianne;
            font-size: $font-size-base-small;
            font-weight: 700;
            line-height: 1.5rem;
        }

        td {
            padding: $spacing-3 !important;
            font-family: $marianne;
            font-size: $font-size-base-small;
            font-weight: 400;
            line-height: 1.5rem;
            @media print {
                padding: $spacing-1 !important;
            }
        }
        tbody {
            overflow-y: scroll !important;
            max-height: 80vh;
            ::-webkit-scrollbar {
                width: 14px !important;
            }

            ::-webkit-scrollbar-thumb {
                border: 4px solid rgba(0, 0, 0, 0);
                background-clip: padding-box;
                border-radius: 9999px;
                background-color: #aaaaaa;
            }
        }
        tfoot {
            th:first-child {
                text-align: center;
            }
        }
    }
}
.is-scrollable {
    overflow-y: scroll;
    max-height: 80vh;
}
