.aside-box {
    padding: 0 1rem 0 0;

    @media print {
        flex: 0 0 100%;
        max-width: 100%;
    }

    h3 {
        margin-bottom: 0.25rem;
    }

    h5 {
        margin-bottom: 1rem;
    }

    >.aside-contain {
        position: relative;
        display: block;
        overflow: auto;
        border-radius: 0.325rem;
        z-index: 10;
        padding: 1rem 0 1rem 1rem;

        >section:not(.establishments) {
            padding-right: 1rem;
        }

        .establishments {
            overflow-y: hidden;

            .toggle-all-establishments {
                display: block;
                text-align: center;
                width: auto;
                margin: 2rem auto;
                background-color: #2980b9;
                border: none;
                color: #fff;
            }
        }

        .with-lift {
            overflow-y: auto;
            max-height: 70rem;
        }

        @media print {
            position: static;
            max-width: 100%;
            overflow: visible;
            height: auto !important;
        }
    }

    .establishment {
        background-color: $white;
    }

    .enterprise {
        background: none;
        overflow: auto;

        hr {
            background-color: rgb(39, 39, 39);
        }
    }
}
