@import "../../../../App/variables";
@import "../../../../App/placeholders";

.quick-access {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $white;
    border-radius: $border-radius-2;
    opacity: 0.9;
    transition: opacity $duration-1;

    &:hover {
        opacity: 1;
    }

    a,
    &__item {
        border-bottom: none;
    }
}

.tabs a {
    &:hover {
        border-bottom: 3px solid;
    }
}

.tabs li.is-active a {
    color: $primary;
    border-bottom: 3px solid;
}

.tabs {
    width: 100%;
}
