@import './../../../../App/variables';

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &--item {
        margin-right: 2rem;
        border: solid 1px $primary;
        border-radius: 0.35rem;
        padding: .75rem;
        width: 9rem;
        height: 9rem;

        &-header {
            padding: .25rem;
            border-bottom: solid 2px $secondary;
            display: flex;

            &--icon {
                color: $primary;
                width: 1rem;
                margin-right: .5rem;
            }
        }

        &-data {
            display: flex;
            justify-content: center;
            padding-top: 1.5rem;
        }
    }
}
