.app-search {
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .search-form {
    margin-bottom: 1rem;

    .field {
      width: 100%;
    }
    .action {
      width: 100%;
    }
  }

  .search-container {
    background-color: #fff;
    border-radius: .325rem;
    padding: 2rem 2rem 1rem; 
  }

  .advanced-search--link {
    background-color: #fff;
    padding-bottom: 1rem;
    padding-left: 3rem;
  }
}
