.app-search {
    &--container {
        background-color: $primary;
        padding: 3rem 0;
        color: $light;
        &.columns {
            margin: 0 -3rem;
        }
    }

    .title {
        text-align: center;
        color: $light;
        font-size: 2.35rem;
        font-weight: 700;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .lead {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .search-form {
        margin-bottom: 1rem;

        .field {
            width: 100%;
        }

        .action {
            width: 100%;
        }

        .columns {
            align-items: center;
            margin-top: 1rem;
        }

        .button {
            width: 8rem;
        }

        #naf,
        #commune {
            .css-vj8t7z {
                cursor: pointer;
            }
        }
    }

    .search-container {
        background-color: #fff;
        border-radius: 0.325rem;
        padding: 2rem 2rem 1rem;
    }

    .check-radio-label {
        font-weight: bold;
    }
}
