.app-search {
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }

  .search-form {
    margin-bottom: 1rem;

    .field {
      width: 100%;
    }

    .action {
      width: 100%;
    }

    .columns {
      align-items: center;
    }
  }

  .search-container {
    background-color: #fff;
    border-radius: .325rem;
    padding: 2rem 2rem 1rem;
  }

  .check-radio-label {
    font-weight: bold;
  }
}
