@import "../App/variables";
@import "../App/placeholders";

%search-button {
    display: flex;
    justify-content: center;
    width: 100%;
    color: inherit;
}

.app-search {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__wrapper {
        background-color: $primary;
        color: $light;

        & .container {
            padding: $padding-app-x;
        }
    }

    .search-form {
        .label {
            height: $spacing-5;
        }

        &__search {
            display: flex;
            align-items: flex-start;
        }

        &__search-bar {
            display: flex;
            align-items: center;
            max-width: 100%;
            width: 100%;
            color: $dark-grey;
            background-color: #fff;
            border: 1px solid #dbdbdb;
            border-radius: $border-radius-1;

            @media not print {
                box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
            }

            .input {
                height: 3rem;
                border: none;
                box-shadow: none;
            }

            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ccc;
                background: none;

                &:hover {
                    color: #999;
                }
            }
        }

        &__toolbar {
            display: flex;
            justify-content: space-between;
        }

        &__buttons {
            @extend %flex-center;
            display: flex;
            flex-direction: column;
            margin-top: $spacing-5 + $spacing-4;

            &--align-top {
                justify-content: flex-start;
            }

            .action.button {
                @extend %search-button;
                border: 1px solid #fff;
            }

            > div {
                width: 100%;
            }
        }

        &__reset.button {
            @extend %search-button;
            font-weight: normal;
            background: none;

            &:hover {
                font-weight: bold;
            }
        }

        .field {
            width: 100%;
            margin-bottom: 0;
        }

        .filters__checkboxes {
            flex-grow: 1;
            margin-top: $spacing-2;

            .filter-state {
                display: flex;
                align-items: center;

                .label {
                    margin-bottom: 0;
                }
            }
        }

        &,
        .filters__checkboxes,
        .filters__selects {
            .label {
                color: $white-smoke;
                font-weight: bold;
                margin-right: $spacing-4;
                margin-bottom: $spacing-4;

                &.label--state {
                    font-weight: normal;
                }
            }
        }
    }

    /* -------------------------------------- */
    /* ----- react-accessible-accordion ----- */
    /* -------------------------------------- */

    .accordion__heading {
        width: 12rem;
    }

    .accordion__button {
        cursor: pointer;
        width: 100%;
        text-decoration: underline;
        text-align: left;
        border: none;

        &:focus {
            outline: none;

            span {
                box-shadow: 0 0 4px $white;
            }
        }
    }

    .accordion__button:before {
        position: relative;
        left: 2px;
        display: inline-block;
        content: "";
        height: 12px;
        width: 12px;
        margin-right: $spacing-4;
        border-bottom: 2px solid currentColor;
        border-right: 2px solid currentColor;
        transform: rotate(45deg);
        transition: transform $duration-2;
    }

    .accordion__button[aria-expanded="true"]::before,
    .accordion__button[aria-selected="true"]::before {
        transform: rotate(-135deg) translate(-0.1rem, -0.1rem);
    }

    .accordion__panel {
        padding-top: $spacing-4;
        animation: fadein $duration-2 ease-in;
    }

    /* --------------------- */
    /* ----- Animation ----- */
    /* --------------------- */

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}
